<h1>Editing itinerary</h1>

<%= render "form", itinerary: @itinerary %>

<br>

<div>
  <%= link_to "Show this itinerary", @itinerary %>
  <%= button_to "Destroy this itinerary", @itinerary, method: :delete %>
</div>
