<h1>Editing itinerary</h1>

<%= render "form", itinerary: @itinerary %>

<br>

<div>
  <%= link_to "Show this itinerary", @itinerary, class: 'btn btn-primary mb-4'%>
  <%= button_to "Destroy this itinerary", @itinerary, method: :delete, class: 'btn btn-danger mb-4' %>
</div>
