<h1>Editing flight</h1>

<%= render "form", flight: @flight %>

<br>

<div>
  <%= link_to "Back to itinerary", @itinerary, class: "btn btn-primary" %>
  <%= button_to "Destroy this flight", itinerary_flight_path(@flight), method: :delete, class: "btn btn-danger" %>
</div>
