@import "bootstrap";
  
// Add padding around the application
body {
	padding-left: 20px;
	padding-right: 20px;
}

// Custom styles for the itinerary cards
.card {
	border: 1px solid #ddd;
	border-radius: 5px;
	transition: all 0.3s ease;
	text-decoration: none;
	color: inherit;

	&:hover {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
}

.card-title {
	color: black;
}

.card-link {
	text-decoration: none;

	&:hover .card {
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
}

.btn-primary {
	margin-bottom: 20px;
}